@using TpUbiComp.Models
@{
    List<Locale> viewModel;
    try
    {
        viewModel = (List<Locale>)ViewData["Model"];
    }
    catch
    {
        viewModel = new List<Locale>();
    }
    ViewData["Title"] = "Selecionar Cidade";
}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <!-- Card -->
            <div class="card shadow ">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <h3 class="mb-1 font-weight-bold">Escolha sua cidade</h3>
                    </div>
                    <!-- Form -->
                    <form>
                        <!-- City -->
                        <div class="form-group">
                            <select class="selectpicker city-selector" data-width="100%">
                                <option value="">Selecionar Cidade</option>
                                @foreach (var locale in viewModel)
                                {
                                    <option value="@locale.Id">@locale.City</option>
                                }
                            </select>
                        </div>
                        <div>
                            <!-- Button -->
                            <button type="button" class="btn btn-primary btn-block btn-select-city">Escolher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".btn-select-city").click(() => {
            var selectedCity = $('.selectpicker').val();
            window.location.assign(`/Private/City?idCity=${selectedCity}`);
        })
    });
</script>